{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}
<h4 id="title">SignIn</h4>
<section class="common-form" id="loginForm">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="formLine">
            <label>Username</label> {{ form.username }}
        </div>
        <div class="formLine">
            <label>Password</label> {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
</section>
{% endblock %}