{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="right-over-button">
    <a class="back-to-index-button" href="{% url 'notification:index' %}">Back to Index</a>
</div>
<form class="new-notification" method="post" action="{% url 'notification:create' %}">
    {% csrf_token %} {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Save</button>
</form>
<div id="notificationCaution">
    <ul>
        <li>リンクを挿入するときは、その箇所に以下のフレーズを挿入してください。<br />
            Koryoという文字に"http://www.koryo946.hakkaido-c.ed.jp/"というリンクをつけたいとき<br />
            &lt;a class=&quot;decorated&quot; href=&quot;http://www.koryo946.hokkaido-c.ed.jp/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Koryo&lt;/a&gt;
            <br />このように表示されます: <a class="decorated" href="http://www.koryo946.hokkaido-c.ed.jp" rel="noopener noreferrer" target="_blank">Koryo</a>
        </li>
    </ul>
</div>
{% endblock %}