{% extends 'base.html' %} {% block content %}
<div id="notificationContainer">
    <h4 id="notificationTitle">{{ notification.title }}</h4>
    <div id="notificationInfo">
        <p><small>Category: {{ notification.category }}</small></p>
        <p><small>Posted by {{ notification.notifier }}</small></p>
        <p><small>{{ notification.posted_datetime | date:"M d, Y H:i }}</small></p>
    </div>
    <div id="notificationText">
        {{ notification.text | safe | linebreaksbr }}
    </div>
</div>
{% endblock %}