{% extends 'base.html' %} {% load static %} {% block content %}
{% if messages %} 
<div class="topContent" id="messages">
    {% for message in messages %}
    <div class="message">{{ message.message | safe }}</div>
    {% endfor %}
</div>
{% endif %}
{% if specials %}
<div class="topContent">
    {% for special in specials %}
    <a class="Special" href="{{ special.url }}"><p>{{ special.title }}</p></a>
    {% endfor %}
</div>
{% endif %}
<div class="topContent">
    <a href="/academic/timetable/">
        <h4 class="topTitle">Timetable</h4>
        <div class="topIndex">
            {% if timetables %}
                {% for timetable in timetables %}
                    <h5 class="timetableDate">{{ timetable.date | date:"M d D" }}</h5>
                    {% if timetable.first != NULL %}<p class="timetableClass">1h...{{ timetable.first }}</p>{% endif %}
                    {% if timetable.second != NULL %}<p class="timetableClass">2h...{{ timetable.second }}</p>{% endif %}
                    {% if timetable.third != NULL %}<p class="timetableClass">3h...{{ timetable.third }}</p>{% endif %}
                    {% if timetable.fourth != NULL %}<p class="timetableClass">4h...{{ timetable.fourth }}</p>{% endif %}
                    {% if timetable.fifth != NULL %}<p class="timetableClass">5h...{{ timetable.fifth }}</p>{% endif %}
                    {% if timetable.sixth != NULL %}<p class="timetableClass">6h...{{ timetable.sixth }}</p>{% endif %}
                    {% if timetable.seventh != NULL %}<p class="timetableClass">7h...{{ timetable.seventh }}</p>{% endif %}
                    <div class="timetableRemarks">{{ timetable.remarks | linebreaks }}</div>
                {% endfor %}
            {% else %}
                <h3 class="nothing">Comming Soon</h3>
            {% endif %}
        </div>
    </a>
</div>
{% if deadlines %}
<div class="topContent">
    <a href="/academic/deadline/">
        <h4 class="topTitle">Deadline</h4>
    </a>
    {% for deadline in deadlines %}
    <div class="topIndex">
        <div class="deadlineDate">
            <h6>{{ deadline.date | date:"M d D"}}</h6>
        </div>
        <div class="deadlineTitle">
            <h6>{{ deadline.title }}</h6>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}