@charset "UTF-8";
#notificationContainer {
    margin: 32px 0px;
    #notificationTitle {
        margin: 0;
        padding: 16px;
    }
    #notificationInfo {
        display: block;
        padding: 12px;
        p {
            display: inline-block;
            margin: 8px;
        }
    }
    #notificationText {
        display: block;
        margin: 16px;
        line-height: 32px;
        font-size: 14px;
        word-break: break-all;
        strong {
            font-weight: 600;
        }
    }
}