{% extends 'base.html' %} {% block content %}
<div class="RightOverButton">
    <a href="{% url 'academic:DeadlineIndex' %}">Back to Index</a>
</div>
<section id="academicForm">
    <form method="post" action="{% url 'academic:DeadlineCreate' %}">
        {% csrf_token %}
        <div class="formLine" id="date">
            {{ form.date }}
        </div>
        <div class="formLine">
            {{ form.title }}
        </div>
        <button type="submit">Save</button>
    </form>
</section>
{% endblock %}